@using Jandaya.Data.ViewModels
@model AddNewBookingTypeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Add New Booking Type";
}

<div class="text-center">
    <div>
        <br />
        <a class="btn btn-outline-primary btn-lg" asp-controller="UserManage" asp-action="GetUserData">Manage Users</a>
        <a class="btn btn-outline-primary btn-lg" asp-controller="CalendarManage" asp-action="CreateHoliday">Manage Calendar by Country</a>
        <a class="btn btn-outline-primary btn-lg" asp-controller="ResourceGroupsManage" asp-action="ResourceGroups">Manage Resource Groups</a>
        <a class="btn btn-outline-primary btn-lg" asp-controller="BookingTypesManage" asp-action="BookingTypes">Manage Booking Types</a>
    </div>
</div>
<br />
<div class="jumbotron">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2 class="d-flex justify-content-center text-dark">@ViewData["Title"]</h2>
            <br />
            <form class="form-horizontal w-75" method="post" asp-action="BookingTypes" asp-controller="BookingTypesManage">
                <div class="form-group">
                    <div class="d-flex justify-content-end">
                        <label asp-for="@Model.Name" class="col-sm-4 control-label justify-content-end"></label>
                        <div class="col-sm-7">
                            <input asp-for="@Model.Name" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox d-flex justify-content-end">
                        <label class="col-sm-4 control-label justify-content-end" asp-for="@Model.IsPaidTimeOff"></label>
                        <div class="col-sm-7">
                            <input asp-for="@Model.IsPaidTimeOff" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox d-flex justify-content-end">
                        <label class="col-sm-4 control-label justify-content-end" asp-for="@Model.IsSubtractDaysLeft"></label>
                        <div class="col-sm-7">
                            <input asp-for="@Model.IsSubtractDaysLeft" />
                        </div>
                    </div>
                </div>
                <hr class="mt-3 bg-resources hr-2" />
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary btn-block w-75">Create booking type</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
