@using Jandaya.Common
@model List<Jandaya.Models.BookingsAllViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div>
        <br />
        @if (this.User.IsInRole(GlobalConstants.ManagerRoleName))
        {
            <div>
                <a class="btn btn-outline-primary btn-lg" asp-controller="Manager" asp-action="BookingsInYourTeam">View Bookings in Your Team</a>
                <a class="btn btn-outline-primary btn-lg" asp-controller="Manager" asp-action="Index">Create Booking</a>
            </div>
        }
    </div>
</div>
<br />
<div class="text-center">
    <h1 id="title" class="text-center">Your Team Bookings</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered sortable" cellspacing="0" width="100%" id="table-id">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Booking Type</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="userTable">
                @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@Model[i].UserName</td>
                            <td>@Model[i].BookingType</td>
                            <td>@Model[i].StartDate.ToString("dd.MM.yyyy")</td>
                            <td>@Model[i].EndDate.ToString("dd.MM.yyyy")</td>
                            <td>@Model[i].Duration</td>
                            <td>@Model[i].Status</td>
                            <td>
                                <a asp-controller="Manager" asp-action="ApproveBookings" asp-route-id="@Model[i].Id">Approve/Reject</a>
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/js/paging.js"></script>
    <script type="text/javascript" src="~/js/search.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-sortable.js"></script>
}
